// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #D8D8D8;
@light-gray: #999;
@gray: #5B5B5B;
@dark-gray: #323232;
@very-dark-gray: #232323;

// @cyan: #74ACBC;
@blue: #74ACBC;
@pink: #E66084;
@green: #89B859;
@red: #FF5555;
@yellow: #E7C700;
// @light-orange: #E7C700;
